
/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000;
}

/* Header - Fundo Vermelho Vibrante */
header {
    background-color: #FF0000;
    color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
}


nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 14px;
}

/* Layout Principal */
main {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}

/* Seção Esquerda - Notícia Principal e Grid */
.col-esquerda {
    flex: 2;
}

.noticia-principal h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.noticia-principal span.ve